# Campañas de Electricidad Automotriz y EyP mes mayo junio 2023

In [64]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [65]:
df=pd.read_csv("camp_ea_ps_mot_fib_may_jun-2023.csv")
df.head(3)

,camp_id,segc_cliente,segc_telefono,segc_medio_informacion,segc_estado,segc_fecha_solicitud,segc_fecha_seguimiento,segc_ultimo_seguimiento,segc_motivo_curso,segc_motivos_no_matricula,segc_proxima_llamada,segc_ubicacion_llamada,segc_trabaja_en_area
0,37,Stalin Lema,0986308318,MED02,CONTAC01,2023-06-20,2023-06-22,no contesta,NaN,NaN,NaN,NaN,False
1,37,Alexis Armas,0992897963,MED02,CONTAC01,2023-06-20,2023-07-06,no contesta,PAQ01,NaN,NaN,NaN,False
2,37,Joffre Pico,0990570944,MED02,CONTAC03,2023-06-20,2023-07-15,Pago 70 TBI el 14 julio,PAQ01,Certificaci�n,NaN,UDOM05,True

In [66]:
df.tail(3)

,camp_id,segc_cliente,segc_telefono,segc_medio_informacion,segc_estado,segc_fecha_solicitud,segc_fecha_seguimiento,segc_ultimo_seguimiento,segc_motivo_curso,segc_motivos_no_matricula,segc_proxima_llamada,segc_ubicacion_llamada,segc_trabaja_en_area
236,40,Luis Paucar,+593983140744,MED02,CONTAC04,2023-07-30,2023-07-31,Esperando confirmación.,NaN,NaN,NaN,NaN,False
237,40,Willian Hernan Visvicus Riofrio,+593987973342,MED02,CONTAC01,2023-07-30,2023-07-31,No contesta 1ra llamada.,NaN,NaN,NaN,NaN,False
238,40,Mario Orbe,+593992504303,MED02,CONTAC01,2023-07-30,2023-07-30,Info enviada,NaN,NaN,NaN,NaN,False

In [67]:
df.shape

(239, 13)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   camp_id                    239 non-null    int64
 1   segc_cliente               239 non-null    object
 2   segc_telefono              239 non-null    object
 3   segc_medio_informacion     239 non-null    object
 4   segc_estado                239 non-null    object
 5   segc_fecha_solicitud       239 non-null    object
 6   segc_fecha_seguimiento     239 non-null    object
 7   segc_ultimo_seguimiento    239 non-null    object
 8   segc_motivo_curso          33 non-null     object
 9   segc_motivos_no_matricula  34 non-null     object
 10  segc_proxima_llamada       23 non-null     object
 11  segc_ubicacion_llamada     2 non-null      object
 12  segc_trabaja_en_area       239 non-null    bool
dtypes: bool(1), int64(1), object(11)
memory usage: 22.8+ KB

## Transformando nombres de columnas

In [69]:
df.columns

Index(['camp_id', 'segc_cliente', 'segc_telefono', 'segc_medio_informacion',
       'segc_estado', 'segc_fecha_solicitud', 'segc_fecha_seguimiento',
       'segc_ultimo_seguimiento', 'segc_motivo_curso',
       'segc_motivos_no_matricula', 'segc_proxima_llamada',
       'segc_ubicacion_llamada', 'segc_trabaja_en_area'],
      dtype='object')

In [70]:
new_names=["Campaña","Seguimiento Cliente","Teléfono","RR.SS","Estado",
                   "Fecha_solicitud","Fecha_seguimiento",
                   "Último seguim.","Motivo curso",
                   "Motivo no seguir","Prox.Llamad",
                   "ubicacion","trabajaenarea"]

In [71]:
i=0
for i in range(0,df.columns.shape[0]): #rename: previous name by actual name of columns
    df.rename(columns={df.columns[i]:new_names[i]},inplace=True)

In [72]:
df.head()

,Campaña,Seguimiento Cliente,Teléfono,RR.SS,Estado,Fecha_solicitud,Fecha_seguimiento,Último seguim.,Motivo curso,Motivo no seguir,Prox.Llamad,ubicacion,trabajaenarea
0,37,Stalin Lema,0986308318,MED02,CONTAC01,2023-06-20,2023-06-22,no contesta,NaN,NaN,NaN,NaN,False
1,37,Alexis Armas,0992897963,MED02,CONTAC01,2023-06-20,2023-07-06,no contesta,PAQ01,NaN,NaN,NaN,False
2,37,Joffre Pico,0990570944,MED02,CONTAC03,2023-06-20,2023-07-15,Pago 70 TBI el 14 julio,PAQ01,Certificaci�n,NaN,UDOM05,True
3,37,Ramiro Javier Arias,0968888369,MED02,CONTAC04,2023-06-21,2023-07-06,envio informacion para deposito,NaN,NaN,NaN,NaN,False
4,37,Bryan Andres,0992969100,MED02,CONTAC05,2023-06-21,2023-07-06,no puede los sabados,PAQ01,NaN,NaN,NaN,True

In [73]:
df.describe(exclude=[np.number]).T

                    count unique               top freq
Seguimiento Cliente   239    193               s/n   41
Teléfono              239    236     +593939061678    2
RR.SS                 239      5             MED02  224
Estado                239      5          CONTAC01  147
Fecha_solicitud       239     27        2023-07-06   24
Fecha_seguimiento     239     27        2023-07-03   37
Último seguim.        239    113      Info enviada   57
Motivo curso           33      5             PAQ01   14
Motivo no seguir       34      6  No tiene inter�s   13
Prox.Llamad            23      7        2023-07-18    6
ubicacion               2      1            UDOM05    2
trabajaenarea         239      2             False  229

In [74]:
df.isnull().sum()

Campaña                  0
Seguimiento Cliente      0
Teléfono                 0
RR.SS                    0
Estado                   0
Fecha_solicitud          0
Fecha_seguimiento        0
Último seguim.           0
Motivo curso           206
Motivo no seguir       205
Prox.Llamad            216
ubicacion              237
trabajaenarea            0
dtype: int64

### Motivo curso

In [75]:
df['Motivo curso'].value_counts()

PAQ01    14
PAQ02     9
PAQ04     8
PAQ05     1
PAQ03     1
Name: Motivo curso, dtype: int64

In [76]:
df['Motivo curso'].replace(['PAQ01','PAQ02','PAQ03','PAQ04','PAQ05'],
           ['ParaSuTrabajo', 'ParaSuEmpresa', 'ParaBuscarEmpleo', 'PorHobby','PorEstudios'],inplace=True)

In [77]:
df['Motivo curso'].value_counts(dropna=False)

NaN                 206
ParaSuTrabajo        14
ParaSuEmpresa         9
PorHobby              8
PorEstudios           1
ParaBuscarEmpleo      1
Name: Motivo curso, dtype: int64

In [78]:
#motivo_prin=df['Motivo curso'].mode()[0]
motivo_prin='Desconocido'
df['Motivo curso'].fillna(motivo_prin,inplace=True)
df['Motivo curso'].value_counts(dropna=False)

Desconocido         206
ParaSuTrabajo        14
ParaSuEmpresa         9
PorHobby              8
PorEstudios           1
ParaBuscarEmpleo      1
Name: Motivo curso, dtype: int64

### Motivos no seguir el curso

In [79]:
df['Motivo no seguir'].value_counts(dropna=False)

NaN                 205
No tiene inter�s     13
Horarios             10
Precio alto           5
Equivocado            4
Certificaci�n         1
Distancia             1
Name: Motivo no seguir, dtype: int64

In [80]:
df['Motivo no seguir'].unique()

array([nan, 'Certificaci�n', 'Horarios', 'No tiene inter�s',
       'Precio alto', 'Equivocado', 'Distancia'], dtype=object)

In [81]:
df['Motivo no seguir'].replace(['Certificaci�n','No tiene inter�s'],['Certificación','No tiene interés'],inplace=True)
df['Motivo no seguir'].fillna('Desconocido',inplace=True)
df['Motivo no seguir'].value_counts(dropna=False)

Desconocido         205
No tiene interés     13
Horarios             10
Precio alto           5
Equivocado            4
Certificación         1
Distancia             1
Name: Motivo no seguir, dtype: int64

In [82]:
#Visualizar de las campañas quienes no tienen interés y su último seguimiento
df[(df['Motivo no seguir']=='Certificación')][['Campaña',
                                                  'Motivo no seguir',
                                                  'Último seguim.']].sort_values(by=['Campaña'])

   Campaña Motivo no seguir           Último seguim.
2       37    Certificación  Pago 70 TBI el 14 julio

**37:** Electricidad Automotriz-Julio </br>
**38:** Paneles Solares

### Campaña

In [83]:
df['Campaña'].value_counts()

37    74
39    69
38    60
40    36
Name: Campaña, dtype: int64

In [84]:
df['Campaña'].replace([37,38,39,40],['EAutomotriz','PanelesS','Motos','Fibra'],inplace=True)

In [85]:
df['Campaña'].value_counts(dropna=False)

EAutomotriz    74
Motos          69
PanelesS       60
Fibra          36
Name: Campaña, dtype: int64

### Red Social

In [86]:
df['RR.SS'].value_counts()

MED02    224
MED07      5
MED03      4
MED08      3
MED06      3
Name: RR.SS, dtype: int64

In [87]:
df['RR.SS'].replace(['MED01','MED02','MED03','MED04','MED05','MED06','MED07','MED08'],
           ['CursoEmpresarial', 'Facebook', 'PaginaWeb', 'Radio', 'Recomendacion','Whatsapp','Instagram','TikTok'],inplace=True)

In [88]:
df['RR.SS'].value_counts(dropna=False)

Facebook     224
Instagram      5
PaginaWeb      4
TikTok         3
Whatsapp       3
Name: RR.SS, dtype: int64

### Estado

In [89]:
df['Estado'].value_counts(dropna=False)

CONTAC01    147
CONTAC02     30
CONTAC04     26
CONTAC05     20
CONTAC03     16
Name: Estado, dtype: int64

In [90]:
df['Estado'].replace(['CONTAC01','CONTAC02','CONTAC03','CONTAC04','CONTAC05'],
           ['EnContacto', 'Abandonado', 'Matriculado', 'Candidato','ProximaOcasion'],inplace=True)

In [91]:
df['Estado'].value_counts(dropna=False)

EnContacto        147
Abandonado         30
Candidato          26
ProximaOcasion     20
Matriculado        16
Name: Estado, dtype: int64

### Próxima Llamada

In [92]:
df['Prox.Llamad'].isna().sum()

216

In [93]:
df['Prox.Llamad'].fillna('Desconocido',inplace=True)

### Ubicación

In [94]:
df['ubicacion'].value_counts(dropna=False)

NaN       237
UDOM05      2
Name: ubicacion, dtype: int64

In [95]:
df['ubicacion'].replace(['UDOM01','UDOM02','UDOM03','UDOM04','UDOM05','UDOM06'],
           ['Norte', 'CentroNorte', 'CentroSur', 'Centro','Sur','Periferia'],inplace=True)
df['ubicacion'].fillna('Indefinido',inplace=True)
df['ubicacion'].value_counts()

Indefinido    237
Sur             2
Name: ubicacion, dtype: int64

#### Cuántos de Electricidad son del sur?

In [96]:
df[(df['ubicacion']=='Sur') & (df['Campaña']=='EAutomotriz')].shape[0]

2

#### Cuántos de Paneles Solares son del sur?

In [97]:
df[(df['ubicacion']=='Sur') & (df['Campaña']=='PanelesS')].shape[0]

0

### Trabaja en el área

In [98]:
df['trabajaenarea'].value_counts()

False    229
True      10
Name: trabajaenarea, dtype: int64

In [99]:
df['trabajaenarea'].replace([True,False],['Si','No'],inplace=True)
df['trabajaenarea'].value_counts()

No    229
Si     10
Name: trabajaenarea, dtype: int64

### Preguntas:
##### Cúantos matriculados en EA?: En total hubo 8

In [100]:
df[(df['Estado']=='Matriculado') & (df['Campaña']=='EAutomotriz')][['Campaña','Seguimiento Cliente',
                                                               'RR.SS','Último seguim.','Motivo curso']]

,Campaña,Seguimiento Cliente,RR.SS,Último seguim.,Motivo curso
2,EAutomotriz,Joffre Pico,Facebook,Pago 70 TBI el 14 julio,ParaSuTrabajo
29,EAutomotriz,Diego Guaylla,Facebook,Quiere instalar taxímetros,Desconocido
54,EAutomotriz,Jeniffer Polo,Facebook,pagado la mtricula,Desconocido
70,EAutomotriz,Carina Escobar,Facebook,Matriculado pago 70 efectivo,Desconocido
72,EAutomotriz,Fabian Ortiz,Facebook,Pago 70 TBP,ParaSuEmpresa
97,EAutomotriz,Mauro Batalla,Whatsapp,Transferencia BP 70,Desconocido
110,EAutomotriz,David Yungan,Facebook,Quiere aprender electricidad para autolujos,ParaSuEmpresa
151,EAutomotriz,Cesar Chavez,Facebook,matriculado pago 70 efectivo,Desconocido
160,EAutomotriz,Diego Javier Yugsi Llano,PaginaWeb,Transferencia el 11-07-2023\nBanco de Guayaqui...,Desconocido

##### Cuántos matriculados en Paneles Solares?

In [101]:
df[(df['Estado']=='Matriculado') & (df['Campaña']=='PanelesS')][['Campaña','Seguimiento Cliente',
                                                               'RR.SS','Último seguim.','Motivo curso']]

,Campaña,Seguimiento Cliente,RR.SS,Último seguim.,Motivo curso
46,PanelesS,Diego Chicaiza,Facebook,Deposito 25 al BI,Desconocido
50,PanelesS,Ana Lara,Facebook,Instalar en una casa-campo,ParaSuEmpresa
87,PanelesS,Javier Salguero,Facebook,Abonado 50 para dos personas Salguero y Trujillo,Desconocido

In [102]:
df['Cuánto']=np.ones((df.shape[0],), dtype=int) #Adding ones to last column to be use in Power BI and be counted.

In [103]:
df['Campaña'].value_counts()

EAutomotriz    74
Motos          69
PanelesS       60
Fibra          36
Name: Campaña, dtype: int64

In [104]:
df[df['Seguimiento Cliente']=='Diego Chicaiza']

,Campaña,Seguimiento Cliente,Teléfono,RR.SS,Estado,Fecha_solicitud,Fecha_seguimiento,Último seguim.,Motivo curso,Motivo no seguir,Prox.Llamad,ubicacion,trabajaenarea,Cuánto
46,PanelesS,Diego Chicaiza,+593985050111,Facebook,Matriculado,2023-06-23,2023-06-29,Deposito 25 al BI,Desconocido,Desconocido,Desconocido,Indefinido,No,1

In [105]:
df.iloc[43]

Campaña                                PanelesS
Seguimiento Cliente                Frank Castle
Teléfono                          +593969649097
RR.SS                                  Facebook
Estado                               EnContacto
Fecha_solicitud                      2023-06-23
Fecha_seguimiento                    2023-07-03
Último seguim.         1er recordatorio enviado
Motivo curso                        Desconocido
Motivo no seguir                    Desconocido
Prox.Llamad                         Desconocido
ubicacion                            Indefinido
trabajaenarea                                No
Cuánto                                        1
Name: 43, dtype: object

In [106]:
# separating data into two dataframes based on ID
df_EA = df[df['Campaña'] == 'EAutomotriz']
df_PS = df[df['Campaña'] == 'PanelesS']
df_MT = df[df['Campaña'] == 'Motos']
df_FB = df[df['Campaña'] == 'Fibra']

print(df_EA.shape)
print(df_PS.shape)
print(df_MT.shape)
print(df_FB.shape)

(74, 14)
(60, 14)
(69, 14)
(36, 14)

In [107]:
# create a writer object to write to Excel file
writer = pd.ExcelWriter('CampEA-PS-MT-FB-jul.xlsx', engine='xlsxwriter')

# write dataframes to separate sheets
df_EA.to_excel(writer, sheet_name='EAutomotriz')
df_PS.to_excel(writer, sheet_name='PanelesSolares')
df_MT.to_excel(writer, sheet_name='Motos')
df_FB.to_excel(writer, sheet_name='FibraVidrio')

# save the file
writer.save()

In [108]:
df.sample(5)

,Campaña,Seguimiento Cliente,Teléfono,RR.SS,Estado,Fecha_solicitud,Fecha_seguimiento,Último seguim.,Motivo curso,Motivo no seguir,Prox.Llamad,ubicacion,trabajaenarea,Cuánto
154,PanelesS,s/n,+593984384678,Facebook,EnContacto,2023-07-10,2023-07-10,Info enviada,Desconocido,Desconocido,Desconocido,Indefinido,No,1
120,Motos,s/n,+593996716546,Facebook,EnContacto,2023-07-04,2023-07-04,Info enviada,Desconocido,Desconocido,Desconocido,Indefinido,No,1
98,EAutomotriz,Luis,+593995030608,Facebook,EnContacto,2023-07-02,2023-07-02,Info enviada,Desconocido,Desconocido,Desconocido,Indefinido,No,1
84,EAutomotriz,Rocio Delgado Amaguaña,+593992947738,Facebook,EnContacto,2023-07-01,2023-07-01,Info enviada,Desconocido,Desconocido,Desconocido,Indefinido,No,1
191,Motos,Ivan,+593979664987,Facebook,Abandonado,2023-07-18,2023-07-20,Ya matriculó en otro lado.,Desconocido,No tiene interés,Desconocido,Indefinido,No,1

### Pregunta:
#### Cuántos vinieron por la Red Social Tik-Tok a la campaña Electricidad Automotriz?

In [109]:
df_tt=df[(df['Campaña']=='EAutomotriz') & (df['RR.SS']=='TikTok')]
print(df_tt.shape)
df_tt

(3, 14)

,Campaña,Seguimiento Cliente,Teléfono,RR.SS,Estado,Fecha_solicitud,Fecha_seguimiento,Último seguim.,Motivo curso,Motivo no seguir,Prox.Llamad,ubicacion,trabajaenarea,Cuánto
61,EAutomotriz,Jacinto Semblantes,+593992652535,TikTok,EnContacto,2023-06-26,2023-07-04,no contesta,Desconocido,Desconocido,Desconocido,Indefinido,No,1
66,EAutomotriz,Luis Maiguashca,+593984643966,TikTok,ProximaOcasion,2023-06-26,2023-07-04,trabajo los sabados y no puede,Desconocido,Desconocido,Desconocido,Indefinido,No,1
68,EAutomotriz,Cristian,+593987355327,TikTok,ProximaOcasion,2023-06-27,2023-07-04,no tiene dinero,Desconocido,Desconocido,Desconocido,Indefinido,No,1

# Facebook metrics

In [110]:
df2=pd.read_csv('metrics_facebook_junio.csv')

In [111]:
df2.sample(6)

,curs_nombre,campr_id,rcam_anio,rcam_mes,campr_nombre,camp_descripcion,camp_tipo,camp_costo,camp_fecha_desde,rcam_impresiones,...,total_abandonados,total_matriculados,rcam_clics_enlace,rcam_ctr,rcam_costo_cpc,rcam_costo_por_resultado,rcam_reacciones,rcam_frecuencia,rcam_gasto,rcam_comentarios
6,Electricidad Automotriz,23855050874090366,2023,6,[20/06/2023] Promoción de http://bit.ly/3X2snzK,Electricidad Automotriz Julio 2023,INFOGRAFIA,18,2023-06-20 00:00:00,11705,...,1,1,83,1.187527,0.022518,0.037711,4,1.451513,3.13,0
10,Electricidad Automotriz,23855050874090366,2023,6,[20/06/2023] Promoción de http://bit.ly/3X2snzK,Electricidad Automotriz Julio 2023,INFOGRAFIA,18,2023-06-20 00:00:00,19,...,1,1,0,0.000000,0.000000,0.000000,0,2.375000,0.01,0
2,Electricidad Automotriz,23855050874090366,2023,6,[20/06/2023] Promoción de http://bit.ly/3X2snzK,Electricidad Automotriz Julio 2023,INFOGRAFIA,18,2023-06-20 00:00:00,10222,...,1,1,65,1.144590,0.022479,0.040462,5,1.399507,2.63,0
8,Electricidad Automotriz,23855050874090366,2023,6,[20/06/2023] Promoción de http://bit.ly/3X2snzK,Electricidad Automotriz Julio 2023,INFOGRAFIA,18,2023-06-20 00:00:00,1212,...,1,1,10,1.402640,0.024118,0.041000,0,1.364865,0.41,0
12,Taller paneles solares,23855073451200366,2023,6,"Publicación: ""ÚNETE A LA REVOLUCIÓN ENERGÉTICA! """,Paneles Solares Taller julio 2023,INFOGRAFIA,15,2023-06-20 00:00:00,3,...,0,0,0,0.000000,0.000000,0.000000,0,1.500000,0.00,0
21,Taller paneles solares,23855073451200366,2023,6,"Publicación: ""ÚNETE A LA REVOLUCIÓN ENERGÉTICA! """,Paneles Solares Taller julio 2023,INFOGRAFIA,15,2023-06-20 00:00:00,88,...,0,0,0,0.000000,0.000000,0.000000,0,1.157895,0.23,0

In [112]:
df2_EA = df2[df2['camp_descripcion'] == 'Electricidad Automotriz Julio 2023']
df2_PS = df2[df2['camp_descripcion'] == 'Paneles Solares Taller julio 2023']
print(df2_EA.shape)
print(df2_PS.shape)

(12, 22)
(12, 22)

In [113]:
df2_EA=pd.DataFrame(data=df2_EA.sum(numeric_only=True).values.tolist(), #summation of all values of each column
             index=df2_EA.sum(numeric_only=True).index.tolist()).T #extracting the name of each column
df2_EA

,campr_id,rcam_anio,rcam_mes,camp_costo,rcam_impresiones,rcam_alcance,total_enseguimiento,total_abandonados,total_matriculados,rcam_clics_enlace,rcam_ctr,rcam_costo_cpc,rcam_costo_por_resultado,rcam_reacciones,rcam_frecuencia,rcam_gasto,rcam_comentarios
0,2.862606e+17,24276.0,72.0,216.0,46313.0,32192.0,396.0,12.0,12.0,363.0,68.621108,0.173103,0.486932,22.0,15.883181,14.02,0.0

In [114]:
df2_PS=pd.DataFrame(data=df2_PS.sum(numeric_only=True).values.tolist(), #summation of all values of each column
             index=df2_PS.sum(numeric_only=True).index.tolist()).T #extracting the name of each column
df2_PS

,campr_id,rcam_anio,rcam_mes,camp_costo,rcam_impresiones,rcam_alcance,total_enseguimiento,total_abandonados,total_matriculados,rcam_clics_enlace,rcam_ctr,rcam_costo_cpc,rcam_costo_por_resultado,rcam_reacciones,rcam_frecuencia,rcam_gasto,rcam_comentarios
0,2.862609e+17,24276.0,72.0,180.0,10043.0,5850.0,384.0,0.0,0.0,46.0,17.188227,0.677066,0.0,23.0,18.386837,18.0,4.0

In [115]:
df2_metrics=pd.concat([df2_EA, df2_PS])
df2_metrics.head(2)

,campr_id,rcam_anio,rcam_mes,camp_costo,rcam_impresiones,rcam_alcance,total_enseguimiento,total_abandonados,total_matriculados,rcam_clics_enlace,rcam_ctr,rcam_costo_cpc,rcam_costo_por_resultado,rcam_reacciones,rcam_frecuencia,rcam_gasto,rcam_comentarios
0,2.862606e+17,24276.0,72.0,216.0,46313.0,32192.0,396.0,12.0,12.0,363.0,68.621108,0.173103,0.486932,22.0,15.883181,14.02,0.0
0,2.862609e+17,24276.0,72.0,180.0,10043.0,5850.0,384.0,0.0,0.0,46.0,17.188227,0.677066,0.000000,23.0,18.386837,18.00,4.0

In [116]:
# create a writer object to write to Excel file
writer = pd.ExcelWriter('metrics_facebook_junio_23.xlsx', engine='xlsxwriter')

# write dataframes to separate sheets
df2_metrics.to_excel(writer, sheet_name='métricas_EA') #Sheet de Electricidad Automotriz

# save the file
writer.save()